extends layout

block content
  style.
    body{
      display: flex;
      flex-flow: column;
      height: 100vh;
    }
    main{
      flex: 1;
      background-color: pink;
      overflow: scroll;
    }
    footer{
      height: 150px;
    }
    
    
  script#script(data-port='#{wsPort}')

  main
    .container-fluid#show
  footer
    textarea.form-control(rows='3')#textarea 
    button.btn.btn-default#send send

  script.
    var name 
    var port = document.getElementById('script').dataset.port
    var ws = new WebSocket("ws://"+ window.location.hostname +":"+port);
    ws.onopen = function(evt) {
        ws.send(JSON.stringify({
          method: 'GET'
        }))
    };
    ws.onclose = function(evt) {

    };
    ws.onmessage = function(evt) {
        // ws.send('GET');
        var data = JSON.parse(evt.data)
        if(data.method && data.method == 'MSG' && data.name){
            if(data.name == name){
              selfPrint('我:'+data.text)
            }else{
              print(data.name +':'+data.text)
            }
        }
        if(data.method && data.method == 'NAME' && data.name){
            
            name = data.name
        }
    };
    ws.onerror = function(evt) {
    };
    function print(msg){
      $('#show').append('<p>'+msg+'</p>')
      $('main')[0].scrollTop = $('#show').height()
    }
    function selfPrint(msg){
      $('#show').append('<p style="text-align:right">'+msg+'</p>')
      $('main')[0].scrollTop = $('#show').height()
    }
    $('#send').click(function(){
      ws.send(JSON.stringify({
        method: 'PUSH',text:$('textarea').val()
      }))
      $('textarea').val('')
    })
